.SocialLinks {
	width: 100%;
	color: #000;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 40px;
	padding: 20px 0 0px 0;
	border-radius: 14px;
	background: #fff;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
	padding: 20px;
}
.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	width: 100%;
}
.title {
	font-size: 25px;
	font-weight: 600;
}
.SocialLinks_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: 5px;
}
.SocialLinks_item_photo {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.SocialLinks_item_photo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
	margin: 0 auto;
}
.icon {
	font-size: 50px;
}
.title {
	font-size: 18px;
}
.link {
	font-size: 16px;
}
.btns {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
}
.btns2 {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	font-size: 30px;
	cursor: pointer;
	opacity: 0;
	transition: all 0.2s ease;
}
.btns2.active {
	opacity: 1;
}
.SocialLinks_item input {
	font-size: 15px;
	width: 100%;
	border-radius: 5px;
	background: #f4f4f4;
	border: none;
	padding: 10px 10px;
	outline: none;
}
